@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(to right, #C0B7E8, #8176AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text1 {
    background: linear-gradient(to left, #C0B7E8, #8176AF);
    
}

.rectangle{
    background: linear-gradient(to  bottom, #3A3456F2, #211E2E);
}
.border-radius {
    border-radius: 100px 100px 100px 240px;
}
.radius{
    border-radius:  240px 100px 240px 100px ;
}
.bg-radius{
    background: linear-gradient( #211E2E, #433D60, #211E2E);
}

.bg-img{
    background-image: url('https://images.pexels.com/photos/1261831/pexels-photo-1261831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
